/*.gatito{
    margin-left: 40%;
    margin-bottom: 5%;
    margin-right: 90px;
    align-self: center
}*/

.character{
    visibility: hidden;
    font-size: 30px;
    padding: 7px;
    box-sizing: border-box;
    width: min-content;
    text-align: center;
    margin: auto;
}

.Nera{
    height: 60px;
    width: 45px;
    background-image: url("../gatetes/catBlack.png");
    margin-top: -18px;
}

.Ray{
    height: 60px;
    width: 45px;
    background-image: url("../gatetes/catOrange.png");
    margin-top: -18px;
}

.Meeko{
    height: 60px;
    width: 45px;
    background-image: url("../gatetes/catGray.png");
    margin-top: -18px;
}

.Lepuchi{
    height: 60px;
    width: 45px;
    background-image: url("../gatetes/catYellow.png");
    margin-top: -18px;
}

.Ares{
    height: 60px;
    width: 45px;
    background-image: url("../gatetes/catGray2.png");
    margin-top: -18px;
}