body{
    min-width: 900px;
    background-color: #ADD8E6;
}

.header, .leftCell{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
}

.cell{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: green;
}

.labyrinth{
    text-align: center;
}

.terrainsFormButton{
    width: 100%;
    height: 50px;
    margin-top: 10px;
}   

input[type="file"] {
    display: none;
}

.topButtons{
    background-color: #FCFCFC;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 50px;
    display: inline-block;
    width: 100px;
    vertical-align: top;
    padding: 10px;
    margin: auto;
    text-align: center;
    font: 400 13.3333px Arial;
    align-items: flex-start;
    box-sizing: border-box;
}
