.popup, .hover{
    position: relative;
    display: inline-block;
}
  
.popup .popuptext, .hover .hoverText {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext{
    bottom: 125%;
}

.hover .hoverText {
    bottom: -200%;
}


.popup .show{
    visibility: visible;
}

.popupButton{
    background-color: #FCFCFC;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 50px;
    display: inline-block;
    width: 100px;
    vertical-align: top;
    padding: 10px;
    margin: auto;
    text-align: center;
    font: 400 13.3333px Arial;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 10px;
}
